/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/*Imported fonts*/
@font-face {
  font-family: 'star_jediregular';
  src: url('../fonts/star_wars_fonts/starjedi-webfont.woff2') format('woff2'),
    url('../fonts/star_wars_fonts/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'star_jedi_hollowregular';
  src: url('../fonts/star_wars_fonts/starjhol-webfont.woff2') format('woff2'),
    url('../fonts/star_wars_fonts/starjhol-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*General styling*/
body {
  background-image: url("../images/background_image_galaxy.jpg");
  width: 100%;
  height: 100%;
  font-family: 'Oxygen', Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;

}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: 'star_jediregular', sans-serif;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
  padding: 40px;
  margin: 20px 20px 30px 20px;
  background-color: black;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
  position: relative;
}

/*Game area*/
#game-area {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  padding: 20px;
  position: relative;
}

#question {
  text-align: center;
  font-family: 'star_jediregular', sans-serif;
  font-size: 1.4rem;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(246, 190, 0);
  padding: 20px 20px 10px 20px;
  letter-spacing: 2px;
}

button {
  margin: 20px auto;
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Oxygen', Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  cursor: default;
}

button:hover {
  cursor: pointer;
  background-color: rgba(246, 190, 0, 0.6);
}

img {
  width: 80%;
  margin: 40px auto 0 auto;
}

/*Pop-up with final score*/
#popup-background {
  width: 80%;
  background-image: url(../images/stormtrooper_adjusted.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


#game-over {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Oxygen', Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}

#playAgain button {
  width: 40%;
  display: flex;
  align-items: center;
  background-color: rgba(246, 190, 0, 0.8);
}

/*Progress bar*/
#progress-area {
  margin-top: 50px;
}

#progress-area p {
  font-family: 'star_jediregular', sans-serif;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(246, 190, 0, 0.8);
}

#progress-bar {
  width: 80%;
  background-color: rgba(246, 190, 0, 0.6);
  margin: 10px auto 20px auto;
  border-radius: 12px;
}

#progress-fill {
  height: 40px;
  background-color: black;
  border-radius: 12px;
}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}